<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/main"
    ></ion-back-button>
    </ion-buttons>
    <ion-title>Foodictionary</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-searchbar  [(ngModel)] = "searchItem" (ionClear)="onCancel($event)" ></ion-searchbar>
<ion-button (click) = "search()">查詢</ion-button>
<ion-label class="SearchLabel">搜尋結果</ion-label>

<div *ngIf="notSearch; else haveSearchRecipe">
  <ion-item *ngFor="let recipe of RecipeList; let i = index; last as isLast" 
            [lines]="isLast ? 'none' : 'inset'"
            [routerLink]="['/recipe',recipe.id]"
            >
    <img src="http://140.115.87.146/{{recipe.recipe_image}}">
  <ion-label class="single">
    <p class="name">
      <ion-text>{{recipe.recipe_name }}</ion-text>
    </p>
    <ion-text class="level">難易度：{{ recipe.recipe_level }}</ion-text>
  </ion-label>

  </ion-item>
</div>


<ng-template #haveSearchRecipe>
  <ion-item *ngFor="let recipe of searchRecipe; let i = index; last as isLast" 
  [lines]="isLast ? 'none' : 'inset'"
  [routerLink]="['/recipe',recipe.id]"
  >

  <img src="http://140.115.87.146/{{recipe.recipe_image}}">

  <ion-label class="single">
  <p class="name">
  <ion-text>{{recipe.recipe_name }}</ion-text>
  </p>
  <ion-text class="level">難易度：{{ recipe.recipe_level }}</ion-text>
  </ion-label>

  </ion-item>
</ng-template>


</ion-content>