ion-toolbar{
    --background: #fe9213;
    color: #ffffff;

}
ion-searchbar{
    --icon-color:#fe9213;
    --placeholder-color:black;	
    --placeholder-font-style:Microsoft JhengHei;
    --placeholder-font-weight:bold;
}
ion-label{
    font-size: 18px;
    font-weight: bold;
    padding-left:20px;
}