<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/main"
    ></ion-back-button>
    </ion-buttons>
    <ion-title>Foodictionary</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-searchbar></ion-searchbar>
<ion-label>全部符合</ion-label>
<ion-item *ngFor="let recipe of RecipeList; let i = index; last as isLast" 
          [lines]="isLast ? 'none' : 'inset'"
          [routerLink]="['/recipe',recipe.id]">

  <img src="http://140.115.87.146/{{recipe.recipe_image}}">

<ion-label class="single">
  <p class="name">
    <ion-text>{{recipe.recipe_name }}</ion-text>
  </p>
  <ion-text class="level">難易度：{{ recipe.recipe_level }}</ion-text>
</ion-label>

</ion-item>

</ion-content>