<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/main"
    ></ion-back-button>
    </ion-buttons>
    <ion-title><b>手動輸入</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)] = "searchItem"></ion-searchbar>
  <ion-button (click) = "search()">新增</ion-button>

  <div class="detail">
    <div class=border>
      <ion-label class="name">小提示</ion-label>
     </div>
  <ion-label>
    <span>1. 請在上方輸入冰箱有的食材</span><br>
    <span>2. 食材與食材之間請用<b>"空格"</b>分開，舉例來說<b>"牛肉 青椒 番茄"</b></span><br>
    <span>3. 輸入完成後，按下新增按鈕即輸入完成</span><br>
  </ion-label>
  </div>
 
</ion-content>

