ion-toolbar{
    --background: #fe9213;
    color: #ffffff;
    text-align: center;
}
ion-title{
    font-family: Microsoft JhengHei;
    font-size: 29px;
}

img{
    height: 50%;
    width: 75%;
    padding-top: 30px;
}
.recipeImg{
    align-items: center;
    text-align: center;
}
.name{
    font-family:Microsoft JhengHei;
    font-size: 38px;
   margin-top:0 ;
   
}

 .detail{
    width: 75%;
    margin:0 auto;
}

.border{
    border-bottom: darken($color: #000000b0, $amount: 0);
    border-bottom-style:solid; 
    border-width: 1px;
    padding-bottom: 3px;
    margin-bottom: 12px;
}
ion-back-button{
    --color:white;
}
.description{
    font-size: 20px;
}