ion-input{
    border-radius: 10px !important;
 
    font-size: 25px;
    border: 1px solid #ffffff !important;
   
    
    background-color: #ffffff;
    max-width: 90%; 
    height: 60px;
}

div{
    background-color: #fe9213;
//margin-top: 70px;
//padding-left: 30px;
}
h1{ 
    text-align: center;
}
ion-label{
position: relative;
top: 25px;

font-size: 25px;
color:#FFFFFF;


}
ion-content{
    --background:#fe9213
}
.logo{
    padding-top: 30px;
}
.word{
    padding-top: 10px;
}
.all{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:#fe9213 ;
}
.loginForm{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    height: auto;
}
ion-item{
  --background:transparent;
  margin-left: -0.1rem;
  border-radius: 8px !important;
  padding-left: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
}
.submit{
    --background:#FFFFFF;
    background-color: #ffffff;
    color: #fe9213;
    font-weight: bold;
    font-size: 25px;
    font-family: Microsoft JhengHei;
    border-radius: 90px;
    height: 50px;
    width: 240px;
}

.router{
    position: relative;
    bottom: -40px;
    --background:#FFFFFF;
    background-color: #ffffff;
    color: #fe9213;
    font-weight: bold;
    font-size: 25px;
    font-family: Microsoft JhengHei;
    border-radius: 90px;
    height: 50px;
    width: 240px;
}

