ion-toolbar{
    --background: #fe9213;
    color: #ffffff;

}
ion-title{
    font-size: 25px;
}
ion-menu-button{
 --color:#ffffff
}


ion-item{
    --inner-padding-start: 0.5rem;
    --inner-padding-end: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    font-family: Microsoft JhengHei;
}

img{
    position: relative;
    width: 30%;
    height: 82%;
    margin-right: 10px;
  
}
.stepContainer{
    padding-top: 3px;
    height: 65px;
    width: 85%;
    margin:0 auto;
    border:1px #ccc solid;
    border-radius:10px;
    border-width: 2px;
    margin-top: 10px;  
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    
}

.keyboard{
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 0;
}

.camera{
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 0;
}
.microphone{
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 10px;
    padding: 0;

    //align-items:center;
//justify-content:center;
}

.camera_word{
    width: 50%;
    font-size: 95%;
    position: absolute;
    left: 4.5%;
    font-weight: bold;
}
.micro_word{
    width: 72px;
    font-size: 17px;
    position: absolute;
    left: 2px;
    font-weight: bold;
}
.manual_word{
    width: 70px;
    font-size: 17px;
    position: absolute;
    right: 30px;
    font-weight: bold;

}

.search_icon{
    position: fixed;
    right: 20px;
    bottom: 16%;
    width: 55px;
    height: 50px;
}


.function_words{
    position: fixed;
    bottom: 0;
}
.center_icon{
    right: 50%;
    height: 70px;
    width: 70px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.fixed {
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 0;
   align-items: center;
   display: inline-block;
    vertical-align: middle;
   height: 70px;
    width: 100%;
    background-color: white;
  }

  .fixed2{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 100%;
    background-color: white;
  }
  .outer_container{
    height: 75%;
  }

  .remove{
      position: relative;
     width: 30px;
     height: 30px;
     right: 3px;
  }

  .i_text{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Microsoft JhengHei;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
  }

  .ingma{

    width: 25%;
    height: 65%;
    margin-bottom: 9px;

  }