<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>      
        <ion-item>
          <ion-icon name="warning" (click)="logout()"></ion-icon>
          <ion-label>登出</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Foodictionary</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <div class="stepContainer">
   
        <img src="assets/egg.jpg">
        <ion-label (click) = "showAll('雞蛋')">雞蛋</ion-label>
      
      </div>
     
      <div class="stepContainer">
       
          <img src="assets/tomato.jpg">
          <ion-label (click) = "showAll('番茄')">番茄</ion-label>
        
        </div>
        <div class="stepContainer">
       
          <img src="assets/high.jpg">
          <ion-label (click) = "showAll('高麗菜')">高麗菜</ion-label>
        
        </div>

        <div class="stepContainer">
       
          <img src="assets/chicken.jpg">
          <ion-label (click) = "showAll('雞肉')">雞肉</ion-label>
        
        </div>
        <div class="stepContainer">
       
          <img src="assets/garlic.jpg">
          <ion-label (click) = "showAll('大蒜')">大蒜</ion-label>
        
        </div>
     
      <ion-button  (click) = "goToRecipe()">Recipe</ion-button>
      <ion-button (click) = "goToVoice()">Voice</ion-button>

     <img src="assets/icon/keyboard.svg">
    </ion-content>
  </div>
</ion-app>
