ion-toolbar{
    --background: #fe9213;
    color: #ffffff;

}
ion-title{
    font-size: 25px;
}
ion-menu-button{
 --color:#ffffff
}
ion-label{
    font-family: Microsoft JhengHei;
    font-size: 35px;
    font-weight: bold;
}

ion-item{
 
    --inner-padding-start: 0.5rem;
    --inner-padding-end: 0.5rem;
   
    --padding-start: 1rem;
    --padding-end: 1rem;
    font-family: Microsoft JhengHei;
}
img{
    width: 50px;
    height: 40px;
    padding-left: 5px;
}
.stepContainer{
    height: 50px;
    width: 80%;
    margin:0 auto;
    border:1px #ccc solid;
    border-radius:10px;
    border-width: 2px;
    margin-top: 10px;;

}
.keyboard{
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 0;

}
.camera{
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 0;
}
.microphone{
    width: 70px;
    height: 65px;
    position: absolute;
    bottom: 10px;
    padding: 0;

    //align-items:center;
//justify-content:center;
}

.camera_word{
    width: 70px;
    font-size: 17px;
    position: absolute;
    left: 22px;
}
.micro_word{
    width: 72px;
    font-size: 17px;
    position: absolute;
left: 2px;
  
}
.manual_word{
    width: 70px;
    font-size: 17px;
    position: absolute;
    right: 20px;

}



.function_words{
    position: fixed;
    bottom: 0;
}
.center_icon{
    right: 50%;
    height: 70px;
    width: 70px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.fixed {
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
   align-items: center;
   display: inline-block;
    vertical-align: middle;
   height: 70px;
    width: 100%;
    background-color: white;
  }

  .fixed2{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
   align-items: center;
   display: inline-block;
    vertical-align: middle;
   height: 50px;
    width: 100%;
    background-color: white;
  }