<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/main"
    ></ion-back-button>
    </ion-buttons>
    <ion-title><b>語音輸入食材</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="stepContainer center"> -->
    <!-- <ion-label class="info">小提示</ion-label> -->
    <div class="detail">
      <div class=border>
        <ion-label class="name">小提示</ion-label>
       </div>
    <ion-label class="description">
      <span>1. 請點選下方按鈕開始輸入</span><br>
      <span>2. 請說出冰箱有的食材</span><br>
      <span>3. 輸入完成後，等待2秒按下停止按鈕即輸入完成</span><br>
    </ion-label>
    </div>
  <!-- </div> -->
  <img src="assets/icon/voiceStart.png" (click)="start()" [hidden]="this.startRecognize" class="picSize">
  <img src="assets/icon/voiceStop.png" (click)="stop()" [hidden]="!this.startRecognize" class="picSize">
</ion-content>
