ion-input{
    border-radius: 10px !important;
 
    font-size: 25px;
    border: 1px solid #ffffff !important;
   
    
    background-color: #ffffff;
    max-width: 90%; 
    height: 50px;
}


ion-label{

color: #ffffff;
}
ion-content{
    align-items: center;
    text-align: center;
    --background:	#FF9224;
}
.word{
    padding-top: 70px;
}

#register{
    text-align: center;
    font-size: 40px;
}
.label{
    padding-left: 45px;
    float:left;
    font-size: 25px;
    font-weight: bold;
}
.registerForm{
    padding-top: 10px;
   // padding-left: 35px;
    text-align: center;
    align-items: center;
}
.all{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:#FF9224 ;
}
ion-item{
    --background:transparent;
    margin-left: -0.1rem;
    border-radius: 8px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
  }
  .submit{
    --background:#FFFFFF;
    background-color: #ffffff;
    color: #FF9224;
    font-weight: bold;
    font-size: 25px;
    font-family: Microsoft JhengHei;
    border-radius: 90px;
    height: 50px;
    width: 240px;
}

.back{
    --background:#FFFFFF;
    background-color: #ffffff;
    color: #FF9224;
    font-weight: bold;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    border-radius: 90px;
    height: 35px;
    width: 120px;
    margin-top: 40px;
}